.wheelContainer .seg {
  border-left: 32.35px solid transparent;
  border-right: 32.35px solid transparent;
  width: 0;
  height: 0;
  border-top-right-radius: 100% 5px;
  border-top-left-radius: 100% 5px;
  margin-left: 217.65px;
  margin-top: 0;
  position: absolute;
  transform-origin: 50% 100%;
  z-index: 1; }

.lightUp {
  color: white !important;
  border-top: 250px solid magenta !important; }

.wText h2 {
  text-align: center;
  position: relative;
  width: 30px;
  height: 100px;
  z-index: 1;
  top: -240px;
  left: -15px;
  background-color: transparent;
  font-family: Times; }

.wText p {
  text-align: center;
  position: relative;
  width: 30px;
  height: 100px;
  z-index: 1;
  top: -240px;
  left: -15px;
  background-color: transparent;
  font-family: Times; }

#s10 p {
  text-align: center;
  position: relative;
  width: 40px;
  height: 100px;
  z-index: 1;
  top: -240px;
  left: -20px;
  background-color: transparent;
  font-family: Times;
  font-size: 12px;
  font-style: bold;
  z-index: 5 !important; }

body {
  background-color: darkgreen; }

.wheelRotate {
  animation: rotation 6s cubic-bezier(0.25, 0.98, 0.75, 1) forwards;
  animation-iteration-count: infinite; }

.pointer {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  left: 210px;
  z-index: 7;
  position: fixed; }

.wheelContainer {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  background-color: transparent;
  position: relative;
  z-index: 0;
  transition: all 6s cubic-bezier(0.25, 0.98, 0.75, 1); }
  .wheelContainer .seg--wheelSeg1 {
    color: black;
    border-top: 250px solid lightblue;
    transform: rotate(0deg); }
  .wheelContainer .seg--wheelSeg2 {
    color: black;
    border-top: 250px solid orange;
    transform: rotate(15deg); }
  .wheelContainer .seg--wheelSeg3 {
    color: black;
    border-top: 250px solid white;
    transform: rotate(30deg); }
  .wheelContainer .seg--wheelSeg4 {
    color: black;
    border-top: 250px solid red;
    transform: rotate(45deg); }
  .wheelContainer .seg--wheelSeg5 {
    color: black;
    border-top: 250px solid lightgreen;
    transform: rotate(60deg); }
  .wheelContainer .seg--wheelSeg6 {
    color: white;
    border-top: 250px solid black;
    transform: rotate(75deg); }
  .wheelContainer .seg--wheelSeg7 {
    color: black;
    border-top: 250px solid yellow;
    transform: rotate(90deg); }
  .wheelContainer .seg--wheelSeg8 {
    color: black;
    border-top: 250px solid orange;
    transform: rotate(105deg); }
  .wheelContainer .seg--wheelSeg9 {
    color: black;
    border-top: 250px solid lightblue;
    transform: rotate(120deg); }
  .wheelContainer .seg--wheelSeg10 {
    color: yellow !important;
    border-top: 250px solid black;
    transform: rotate(135deg); }
  .wheelContainer .seg--wheelSeg105 {
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    margin-left: 240px !important;
    opacity: .6;
    z-index: 1;
    color: yellow;
    border-top: 250px solid red;
    transform: rotate(135deg); }
  .wheelContainer .seg--wheelSeg11 {
    color: black;
    border-top: 250px solid purple;
    transform: rotate(150deg); }
  .wheelContainer .seg--wheelSeg12 {
    color: black;
    border-top: 250px solid yellow;
    transform: rotate(165deg); }
  .wheelContainer .seg--wheelSeg13 {
    color: white;
    border-top: 250px solid black;
    transform: rotate(180deg); }
  .wheelContainer .seg--wheelSeg14 {
    color: black;
    border-top: 250px solid white;
    transform: rotate(195deg); }
  .wheelContainer .seg--wheelSeg15 {
    color: black;
    border-top: 250px solid red;
    transform: rotate(210deg); }
  .wheelContainer .seg--wheelSeg16 {
    color: black;
    border-top: 250px solid lightgreen;
    transform: rotate(225deg); }
  .wheelContainer .seg--wheelSeg17 {
    color: white;
    border-top: 250px solid purple;
    transform: rotate(240deg); }
  .wheelContainer .seg--wheelSeg18 {
    color: black;
    border-top: 250px solid orange;
    transform: rotate(255deg); }
  .wheelContainer .seg--wheelSeg19 {
    color: black;
    border-top: 250px solid white;
    transform: rotate(270deg); }
  .wheelContainer .seg--wheelSeg20 {
    color: black;
    border-top: 250px solid pink;
    transform: rotate(285deg); }
  .wheelContainer .seg--wheelSeg21 {
    color: black;
    border-top: 250px solid grey;
    transform: rotate(300deg); }
  .wheelContainer .seg--wheelSeg22 {
    color: black;
    border-top: 250px solid red;
    transform: rotate(315deg); }
  .wheelContainer .seg--wheelSeg23 {
    color: black;
    border-top: 250px solid yellow;
    transform: rotate(330deg); }
  .wheelContainer .seg--wheelSeg24 {
    color: black;
    border-top: 250px solid grey;
    transform: rotate(345deg); }
  .wheelContainer .center {
    display: block;
    width: 100px;
    height: 100px;
    background-color: green;
    z-index: 4;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 40%; }

/*# sourceMappingURL=styles.css.map */
