.corner {
  background-color: darkgreen !important;
  border: none !important; }

.blankBox, #underBoxContainer .under, .letterBoxContainer .beginning, .letterBoxContainer .padA, .letterBoxContainer .padB, .letterBoxContainer .padC, .letterBoxContainer .end, .letterBoxContainer .theone {
  display: inline-block;
  height: 60px;
  width: 45px;
  background-color: green;
  position: relative;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: none; }

.letter, .letterBoxContainer .line1, .letterBoxContainer .line2 {
  display: inline-block;
  height: 60px;
  width: 45px;
  font-size: 45px;
  background-color: white;
  background: white;
  text-align: center;
  position: relative;
  margin: none;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  vertical-align: bottom;
  transition: all 1s easein; }

.hide, .letterBoxContainer .line1, .letterBoxContainer .line2 {
  transform: rotateY(180deg);
  backface-visibility: hidden; }

#gameBoard {
  display: block;
  margin: none; }

#underBoxContainer {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  height: 240px;
  width: 630px;
  padding: 0;
  background-color: lightgrey;
  top: 15%;
  right: 5%;
  position: absolute;
  clear: left;
  z-index: 1; }
  #underBoxContainer .under {
    display: inline-block;
    clear: left;
    background-color: lightgrey !important;
    z-index: 1;
    position: relative; }

.letterBoxContainer {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  height: 240px;
  width: 630px;
  padding: 0;
  background-color: none;
  top: 15%;
  right: 5%;
  position: absolute;
  clear: left;
  z-index: 2; }
  .letterBoxContainer .beginning {
    flex: -1; }
  .letterBoxContainer .end {
    flex: 50; }
  .letterBoxContainer .theone {
    position: absolute;
    bottom: 25%;
    right: 0%;
    z-index: 1; }

.puzzleSolve {
  position: absolute;
  color: maroon;
  left: 50%;
  bottom: 23%; }

#wheelvalue {
  display: block;
  height: 100px;
  width: 350px;
  background-color: green;
  position: absolute;
  top: 51%;
  left: 40%;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  color: yellow;
  text-align: center; }

.turn {
  border-color: red !important; }

#player1totalc {
  display: block;
  height: 100px;
  width: 300px;
  background-color: green;
  position: absolute;
  top: 0%;
  right: 35%;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  color: yellow;
  text-align: center; }

#player2totalc {
  display: block;
  height: 100px;
  width: 300px;
  background-color: green;
  position: absolute;
  top: 0%;
  right: 10%;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  color: yellow;
  text-align: center; }

#gameType {
  display: block;
  height: 100px;
  width: 350px;
  background-color: green;
  position: absolute;
  top: 51%;
  right: 5%;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  color: yellow;
  text-align: center; }

/*# sourceMappingURL=wordGrid.css.map */
