
.corner {
	background-color: darkgreen !important;
	border: none !important;
}

.blankBox {
		display: inline-block;
		height: 60px;
		width: 45px;
		background-color: green;
		position: relative;
		border-color: black;
		border-width: 1px;
		border-style: solid;
		margin: none;
}

.letter {
	display: inline-block;
	height: 60px;
	width: 45px;
	font-size: 45px;
	background-color: white;
	background: white;
	text-align: center;
	position: relative;
	margin: none;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	vertical-align: bottom;
	transition: all 1s easein;
	
}

.hide {
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

#gameBoard {
	display: block;
	margin: none;
}

#underBoxContainer {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	height: 240px;
	width: 630px;
	padding: 0;
	background-color: lightgrey;
	top: 15%;
	right: 5%;
	position: absolute;
	clear: left;
	z-index: 1;

	.under {
			@extend .blankBox;
			display: inline-block;
			clear: left;
			background-color: lightgrey !important;
			z-index: 1;
			position: relative;
		}

}

.letterBoxContainer {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	height: 240px;
	width: 630px;
	padding: 0;
	background-color: none;
	top: 15%;
	right: 5%;
	position: absolute;
	clear: left;
	z-index: 2;

		
		.beginning {
			flex: -1;
			@extend .blankBox;

		}

		.padA{
			@extend .blankBox;
		}
		.line1 {
			@extend .letter;
			@extend .hide;
		}
		
		.padB {
			@extend .blankBox;
		}
		.line2 {
			@extend .letter;
			@extend .hide;
		}

		.padC{
			@extend .blankBox;
		}

		.end {
			flex: 50;
			@extend .blankBox;
		}
		.theone {
			@extend .blankBox;
			position: absolute;
			bottom: 25%;
			right: 0%;
			z-index: 1;
		}


}

.puzzleSolve {
	margin-left: 100px;
	margin-top: 50px;
	color: maroon;
}

#wheelvalue {
	display: block;
	height: 100px;
	width: 350px;
	background-color: lightgreen;
	position: absolute;
	top: 51%;
	left: 40%;
	border-color: yellow;
	border-width: 3px;
	border-style: solid;
	color: darkblue;
	text-align: center;
}

#player1total {
	display: block;
	height: 100px;
	width: 300px;
	background-color: green;
	position: absolute;
	top: 0%;
	right: 35%;
	border-color: yellow;
	border-width: 3px;
	border-style: solid;
	color: yellow;
	text-align: center;

}

#player2total {
	display: block;
	height: 100px;
	width: 300px;
	background-color: green;
	position: absolute;
	top: 0%;
	right: 10%;
	border-color: yellow;
	border-width: 3px;
	border-style: solid;
	color: yellow;
	text-align: center;
}

#gameType {
	display: block;
	height: 100px;
	width: 350px;
	background-color: lightgreen;
	position: absolute;
	top: 51%;
	right: 5%;
	border-color: yellow;
	border-width: 3px;
	border-style: solid;
	color: orange;
	text-align: center;
}