$numOfWords: 4;
$numOfLetters: 6;

%letterBox {
	display: block;
	height: 60px;
	width: 30px;
	background-color: white;
}

%wordBox {
	display: block;
	height: 60px;
	width: $numOfLetters * 30px;
}

%blankBox {
	display:block;
	height: 60px;
	width: 30px;
	background-color: red;
}
.letterBoxContainer {
	display: inlineflex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 240px;
	width: 420px;
	background-color: red;
	top: 10%;
	right: 20%;
	position: absolute;
}